@tailwind base;
@tailwind components;
@tailwind utilities;
.login-bg {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}
/* 
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d36bef;
    border-radius: 10px;
    border: 3px none #ffffff;
  } */
